.vcon{
  top: 40vh;
  bottom: 0;
  position: relative;
  transform: translateY(-50%);
}

.img_size {
  width: 1.5em;
  height: auto;
  background-color: inherit;
  margin: 0.25em;
}

.h_break{
  color: white;
}

.center{
<<<<<<< HEAD
    justify-content: center;
    align-items: center;
=======
>>>>>>> 2af525d40167e0fc06fdb773f109dc272ce8cab9
    text-align: center;
    font-weight: 100;
<<<<<<< HEAD
    line-height: 1.25em;
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
=======
>>>>>>> 2af525d40167e0fc06fdb773f109dc272ce8cab9
    padding-top:0.7em;
}

