.vcon{
  top: 50vh;
  bottom: 0;
  position: relative;
  transform: translateY(-50%);
}

.img_size {
  width: 1.5em;
  /* z-index: 100; */
  background-color: inherit;
  margin: 0.25em;
}

.h_break{
  color: white;
  /* background-color: white; */
}

.center{
    justify-content: center;
    align-items: center;
    text-align: center;
    /* color:#E9D5DA; */
    font-weight: 100;
    line-height: 1.25em;
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
    padding-top:0.7em;
    /* letter-spacing: 4em; */

}

.lg_font{
  font-size: 20px;
}
